@use "colors";
@use "typo";
%businness {
  border: 1px solid black;
  width: 675px;
  height: 150px;
  padding: 28px 24px 23px 19px;
}
.business-bannner__tick-first {
  @extend %businness;
}
.business-bannner__tick-second {
  @extend %businness;
}
.business-bannner__tick-first p {
  margin-left: 44px;
}
.business-bannner__tick-second p {
  margin-left: 44px;
}
.home-banner__desc {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin: 26px;
  width: 402px;
  margin: 0px 0;
  padding: 5rem;
  height: 502px;
  color: colors.$white;
}
.work-banner {
  position: relative;
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-banner__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.work-banner__text h2 {
  text-align: center;
}
.work-banner__consulation {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
  background-color: colors.$white;
  padding: 58px 43px;
  width: 386px;
}
.work-banner__consulation p {
  font-size: 18px;
  font-weight: 400;
  line-height: 146.187%;
  text-align: center;
  margin-bottom: 37px;
}
.work-banner__consulation h6 {
  color: colors.$blue;
}
.work-banner__all-work {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 31px;
  position: relative;
  margin-top: 77px;
}
.work-banner__consulation img {
  position: absolute;
  bottom: 300px;
}

.team-members {
  width: 100%;
  margin: 0 auto;
  background: rgba(248, 248, 255, 0.97);
  mix-blend-mode: lighten;
  position: relative;
  margin-top: 138px;
  display: flex;
  justify-content: center;
}
.team-banner__img img {
  width: 100%;
  background: rgba(248, 248, 255, 0.97);
  mix-blend-mode: lighten;
  position: relative;
  height: 400px;
}
.team-members__description__experienxe {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 0 25px;
  width: 253.346px;
}
.team-members__description__experienxe h2 {
  color: colors.$light-green;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.team-members__description {
  display: flex;
  gap: 34px;
  height: 317px;
  position: absolute;
  margin-top: 40px;

  justify-content: center;
  align-content: center;
  align-items: center;
}
.square__blue {
  height: 12px;
  width: 12px;
  background-color: colors.$blue;
}
.square__blue__style {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.square {
  height: 12px;
  width: 12px;
  background-color: colors.$light-green;
}
.square__style {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.presentation__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.presentation__text p {
  margin-bottom: 47px;

  text-align: center;
}
.presentation {
  width: 100%;
  position: relative;
}
.presentation__bg img {
  width: 100%;
  position: relative;
}
.presentation__text {
  width: 511px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.experts__text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.experts__all__description {
  width: 386px;
  height: 532px;
}
.experts__all__description__text {
  background-color: #f4f4f4;
  width: 341px;
  padding: 20px 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  margin-left: 5px;
}
.experts {
  position: relative;
  margin-bottom: 200px;
}
.experts__all__description {
  position: relative;
}
.experts__all__descritpion__img {
  position: relative;
}
.experts__all {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 41px;
}
.experts__all__description__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6b77e5b2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;
}

.experts__all__description:hover .experts__all__description__hover {
  opacity: 1;
}
.services__text__style {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.services__text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.square__style p {
  color: colors.$white;
  font-family: Inter;
  font-size: 18px;
  width: 168px;
  font-weight: 500;
}
